@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Figtree', sans-serif;
}


.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


.nav {
    background-color: #FFFAF5;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 800px) {
        height: 80px;
    }

    .logo {
        margin-left: 43px;

        // font-size: 24px;
        // font-weight: bold;
        @media (max-width: 800px) {
            margin-left: 16px;
        }
    }
}


.sidebuttons {
    margin-right: 60px;
    display: flex;
    gap: 12px;
    flex-direction: row-reverse;

    @media (max-width: 800px) {
        margin-right: 16px;
    }

    .btn {
        border-radius: 70px;
        height: 38px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 12px 12px;
        border: 1px solid;
        cursor: pointer;
        font-size: 14px;
        font-weight: 600;
        color: white;
        transition: all 0.2s ease;

        &-primary {
            width: 154px;
            background-color: white;
            border-color: #462512;
            color: #1A1A1A;

            &:hover {
                background-color: black;
                color: white;
            }
        }

        &-secondary {
            width: 200px;
            background-color: #F8943F;
            border-color: #DE6F0D;
            color: white;

            @media (max-width: 800px) {
                display: none;
            }

            &:hover {
                background-color: #DE6F0D;
            }
        }
    }


}

.secbtn {

    @media (max-width: 800px) {
        margin-right: 16px;
    }

    .btn {
        border-radius: 70px;
        height: 38px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 12px 12px;
        border: 1px solid;
        cursor: pointer;
        font-size: 14px;
        font-weight: 600;
        color: white;
        transition: all 0.2s ease;

        &-primary {
            width: 154px;
            background-color: white;
            border-color: #462512;
            color: #1A1A1A;

            &:hover {
                background-color: black;
                color: white;
            }
        }

        &-secondary {
            width: 200px;
            background-color: #F8943F;
            border-color: #DE6F0D;
            color: white;

            @media (max-width: 800px) {
                display: none;
            }

            &:hover {
                background-color: #DE6F0D;
            }
        }
    }


}

.span-ul {
    text-decoration: underline;
    cursor: pointer;

    &:hover {
        color: #DE6F0D;
    }
}

.hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 450px;
    background-color: #FFFAF5;
    position: relative;

    @media (max-width: 1000px) {
        flex-direction: column;
        align-items: center;
        height: auto;
        gap: 0px;
        background-color: white;
    }


    .ticker-tape-container {
        position: absolute;
        top: 450px;
        left: 0;
        z-index: 999;
        height: 60px;
        width: 100%;
        background-color: #FFF9F4;
        overflow-x: hidden;
        display: flex;

        @media (max-width: 1000px) {
            top: 394px;
        }

        .ticker-tape {
            --direction: normal;
            --duration: 60s;
            --delay: 0s;
            --iteration-count: infinite;
            display: flex;
            gap: 40px;
            flex: 0 0 auto;
            margin-right: 1rem;
            min-width: 100%;
            align-items: center;
            animation: marquee var(--duration) linear var(--delay) var(--iteration-count);
            animation-direction: var(--direction);

            .ticker-item {
                display: flex;
                align-items: center;
                gap: 0px;

                p {
                    font-size: 14px;
                    font-weight: 700;
                    margin-left: 2px;
                }

                .colored {
                    margin-left: 12px;
                    color: #F58420;
                }
            }
        }

        @keyframes marquee {
            0% {
                transform: translateX(0%);
            }

            100% {
                transform: translateX(-100%);
            }
        }
    }

    .hero-pic {
        position: relative;
        width: 67%;
        height: 100%;
        //background-color: #D0D0D0;
        background-color: #FFF9F4;
        overflow: hidden;
        display: flex;

        @media (max-width: 1000px) {
            width: 100%;
            justify-content: center;
            flex-direction: column;
        }


        .hero-pic-bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url('../images/d9e2eb1945ffd93ea40450c1db6dd1c7d2b70f19.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 0% 50%;
            background-size: 150%;
            filter: blur(3px);
            -webkit-filter: blur(3px);
            z-index: 1;
        }

        .hero-pic-banner {
            position: relative;
            z-index: 2;
            background-color: white;
            opacity: 1;
            margin-top: 149px;

            width: 644px;
            height: 153px;
            padding-top: 24px;
            background: linear-gradient(90deg,
                    rgba(255, 255, 255, 0.6) 0%,
                    rgba(255, 255, 255, 0.3) 100%);

            .internal-text {
                margin-left: 60px;
                margin-bottom: 20px;
                z-index: 3;

                @media (max-width: 1000px) {
                    margin-left: 16px;
                }

                h2 {
                    font-size: 16px;
                    font-weight: 800;
                    color: #303030;
                }

                h3 {
                    font-size: 16px;
                    font-weight: 600;
                    color: #4E4E4E;
                    margin-top: 8px;
                    margin-bottom: 20px;
                }
            }

            @media (max-width: 1000px) {
                margin-top: 66px;
                width: 100%;
                height: 205px;
                margin-bottom: 123px;
            }

        }

        .man-pic {
            position: absolute;
            left: 368px;
            bottom: 43px;
            z-index: 2;
            transform: scaleX(-1);
            scale: 1.15;

            @media (max-width: 1120px) {
                left: 340px;
                bottom: -5px;
                scale: 1;
            }

            @media (max-width: 642px) {
                left: 300px;
                bottom: -70px;
                scale: 0.8;
            }

            @media (max-width: 530px) {
                left: 100px;
                bottom: -100px;
                scale: 0.7;
            }
        }
    }
}

.hero-form-container {
    background-color: #FFF9F4;
    border: #FFE0C4 1px solid;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 33%;
    height: 100%;
    padding-top: 49px;
    padding-left: 40px;
    padding-right: 40px;

    @media (max-width: 1000px) {
        margin-left: 16px;
        margin-right: 16px;
        margin-top: 80px;
        border-radius: 20px;
        width: auto;
        padding-bottom: 16px;
    }


    p,
    h2 {
        text-align: left;
        width: 100%;

        @media (max-width: 1000px) {
            text-align: center;
        }
    }

    h2 {
        font-weight: 700;
        font-size: 20px;
        color: #303030;
        margin-bottom: 8px;
    }

    p {
        font-weight: 400;
        font-size: 16px;
        color: #474747;
    }

    .consult-form {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 16px;


        input {
            position: relative;
            width: 100%;
            height: 40px;
            border-radius: 24px;
            border: 1px solid #FFE0C4;
            padding-left: 16px;
            font-size: 16px;
            color: #303030;

            &:focus {
                outline: none;
                border-color: #F8943F;
            }
        }

        .captcha-wrapper {
            position: relative;
            width: 100%;


            input {
                width: 100%;
                height: 40px;
                border-radius: 24px;
                border: 1px solid #FFE0C4;
                padding-left: 16px;
                padding-right: 80px; // space for captcha text
                font-size: 16px;
                color: #303030;

                &:focus {
                    outline: none;
                    border-color: #F8943F;
                }
            }

            .captcha-label {
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                top: 50%;
                right: 0px;
                height: 100%;
                width: 110px;
                transform: translateY(-50%);
                background-color: #FFE0C4;
                border-radius: 0px 24px 24px 0px;
                background-color: #462512;
                font-size: 14px;
                color: white;
                pointer-events: none; // so it doesn’t block input clicks
            }

        }

        .checkbox-wrapper {
            display: flex;
            flex-direction: row-reverse;
            align-items: start;
            justify-content: flex-end;
            gap: 8px;
            margin-top: 8px;

            input[type="checkbox"] {
                width: 19px;
                height: 19px;
                border: 1px solid #FFE0C4;
                appearance: none;
                -webkit-appearance: none;
                background-color: white;
                cursor: pointer;
                border-radius: 4px;
            }

            label {
                font-size: 12px;
                font-weight: 400;
                color: #303030;
                cursor: pointer;
            }
        }

    }
}


.book-btn {
    width: 100%;
    height: 38px;
    border-radius: 24px;
    background-color: #F58420;
    color: white;
    font-size: 14px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
        background-color: #DE6F0D;
        color: white;
    }
}


.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 120px;
    background-color: white;

    @media (max-width: 1000px) {
        padding-left: 16px;
        padding-right: 16px;
        margin-top: 60px;
    }
}


.root-canal-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    h2 {
        font-size: 24px;
        font-weight: 700;
        color: #303030;
        margin-bottom: 8px;
        text-align: center;
        max-width: 100%;
    }

    p {
        font-size: 20px;
        font-weight: 400;
        color: #474747;
        text-align: center;
        max-width: 100%;
        text-align: center;
    }
}

.root-canal-cards-section {
    display: flex;
    margin-top: 20px;
    gap: 40px;
    overflow-x: auto;
    width: 100%;

    @media (max-width: 720px) {
        gap: auto;
        overflow: scroll;
    }

    .card {
        border: #FFE0C4 1px solid;
        border-radius: 20px;
        width: 640px;
        height: auto;
        display: flex;
        gap: 0px;
        flex-shrink: 0;

        @media (max-width: 720px) {
            width: 285px;
            flex-direction: column;
        }

        .bg {
            background-color: #E0D5CB;
            border-radius: 20px 0px 0px 20px;

            @media (max-width: 720px) {
                width: 285px;
                height: 285px;
                border-radius: 20px 20px 0px 0px;
            }
        }

        .image {
            width: 320px;
            height: auto;
            border-radius: 20px 0px 0px 20px;

            @media (max-width: 720px) {
                width: 285px;
                height: 285px;
                border-radius: 20px 20px 0px 0px;
            }
        }

        .text {
            display: flex;
            gap: 16px;
            flex-direction: column;
            padding: 16px 20px 20px 16px;

            h2 {
                font-weight: 700px;
                font-size: 20px;
                text-align: left;
                margin: 0px;
            }

            p {
                font-weight: 400;
                font-size: 16px;
                color: #474747;
                text-align: left;
                margin-top: 8px;
            }

            h3 {
                font-weight: 700;
                font-size: 16px;
            }

            ul {
                padding-left: 16px;
                margin-top: 8px;

                li {
                    font-weight: 400;
                    font-size: 16px;
                    color: #474747;
                }
            }

            h4 {
                font-weight: 600;
                font-size: 14px;
                color: #F58420;
                margin-bottom: 4px;
            }

            .price {
                margin: 0px;
                font-weight: 600;
                font-size: 20px;
            }
        }
    }
}

.real-smile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    .img-container {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        gap: 40px;
        margin-top: 20px;
        width: 100%;
        overflow-x: scroll;

        .img-box {
            display: flex;
            gap: 8px;
            flex-direction: column;
            align-items: start;
            justify-content: center;
            width: 295px;
            height: auto;
            border-radius: 20px;
            flex-shrink: 0;

            .text {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 8px;

                .name {
                    font-weight: 600;
                    font-size: 16px;
                    color: #1A1A1A;
                }

                .city {
                    font-weight: 600;
                    font-size: 14px;
                    color: #F58420;
                }
            }

            img {
                width: 295px;
                height: auto;
                border-radius: 20px;
            }

            p {}
        }


    }



}

.top-text {
    margin-top: 60px;

    h2 {
        font-size: 24px;
        font-weight: 700;
        color: #303030;
        margin-bottom: 8px;
        text-align: center;
        max-width: 100%;
    }

    p {
        font-size: 20px;
        font-weight: 400;
        color: #474747;
        text-align: center;
        max-width: 100%;
    }
}

.why-section {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;

    .why-section-data {
        display: flex;
        align-items: start;
        justify-content: start;
        gap: 96px;
        width: 100%;
        padding-left: 50px;
        padding-right: 50px;

        @media (max-width: 1000px) {
            padding-left: 12px;
            padding-right: 12px;
            align-items: center;
            flex-direction: column-reverse;
            gap: 20px;
        }

        .image {
            width: 461px;
            height: auto;
            border-radius: 20px;

            @media (max-width: 1000px) {
                width: 100%;
            }
        }

        .accordion {
            width: 100%;

            .accordion-item {
                margin-bottom: 40px;

                .accordion-content.active {
                    margin-bottom: 0px;
                }

                .accordion-header {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    p {
                        font-size: 16px;
                        font-weight: 600;
                        color: #1A1A1A;
                        margin: 0;
                    }

                }

                .accordion-content {
                    margin-left: 8px;
                    font-weight: 400;
                    color: gray;
                    display: none;
                    max-height: 0;
                    transition: max-height 0.6s ease;
                    overflow: hidden;

                    ul {
                        list-style-type: disc;
                        padding-left: 1.5rem;
                    }
                }

                .accordion-content.active {
                    display: block;
                    max-height: 1000px;
                }
            }
        }

        /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
        .active,
        .accordion-header:hover {
            cursor: pointer;
        }

        /* Style the accordion panel. Note: hidden by default */
        .panel {
            padding: 0 18px;
            background-color: white;
            display: none;
            overflow: hidden;
        }
    }


}

.review {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;

    .review-cards {
        display: flex;
        align-items: start;
        justify-content: start;
        gap: 24px;
        width: 100%;
        overflow: auto;

        @media (max-width: 1000px) {
            gap: 20px;
        }

        .card {
            height: auto;
            border-radius: 10px;
            width: 224px;

            @media (max-width: 1000px) {
                width: 200px;
            }

            img {
                width: 224px;
                height: 350px;
                border-radius: 10px;
                object-fit: cover;

                @media (max-width: 1000px) {
                    width: 200px;
                    height: 360px;
                }
            }

            .card-text {
                display: flex;
                align-items: start;
                justify-content: space-between;
                width: 100%;

                .name-and-city {
                    display: flex;
                    flex-direction: column;
                    gap: 4px;

                    .name {
                        font-size: 16px;
                        color: #1A1A1A;
                        font-weight: 600;
                    }

                    .city {
                        font-size: 14px;
                        color: #777777;
                        font-weight: 600;
                    }
                }

                .type {
                    font-size: 16px;
                    color: #F58420;
                    font-weight: 600;
                }
            }
        }

    }
}


.booking-box {
    margin-top: 60px;
    width: 100%;
    height: auto;
    background-color: #FFF9F4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px;
    border-radius: 10px;

    @media (max-width: 1000px) {
        border-radius: 20px;
    }

    h2 {

        font-weight: 700;
        font-size: 24px;
        color: #303030;
        margin-bottom: 20px;
        margin-top: 16px;
        text-align: center;

        @media (max-width: 1000px) {
            font-size: 20px;
            margin-bottom: 24px;
        }
    }

    .form {
        display: flex;
        width: 100%;
        gap: 24px;
        align-items: center;
        justify-self: center;
        padding-left: 12px;
        padding-right: 12px;

        @media (max-width: 1000px) {
            flex-direction: column;
            gap: 16px;
            padding-left: 16px;
            padding-right: 16px;
        }

        input {
            height: 38px;
            width: 100%;

            border-radius: 24px;
            border: 1px solid #FFE0C4;
            padding-left: 16px;
            padding-right: 80px; // space for captcha text
            font-size: 16px;
            color: #303030;
        }


        .captcha-wrapper {
            position: relative;
            width: 100%;


            input {
                width: 100%;
                height: 40px;
                border-radius: 24px;
                border: 1px solid #FFE0C4;
                padding-left: 16px;
                padding-right: 80px; // space for captcha text
                font-size: 16px;
                color: #303030;

                &:focus {
                    outline: none;
                    border-color: #F8943F;
                }
            }

            .captcha-label {
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                top: 50%;
                right: 0px;
                height: 100%;
                width: 110px;
                transform: translateY(-50%);
                background-color: #FFE0C4;
                border-radius: 0px 24px 24px 0px;
                background-color: #462512;
                font-size: 14px;
                color: white;
                pointer-events: none; // so it doesn’t block input clicks
            }



        }

    }

    .checkbox-wrapper {
        display: flex;
        flex-direction: row-reverse;
        align-items: start;
        justify-content: flex-end;
        gap: 8px;
        margin-top: 24px;

        input[type="checkbox"] {
            width: 19px;
            height: 19px;
            border: 1px solid #FFE0C4;
            appearance: none;
            -webkit-appearance: none;
            background-color: white;
            cursor: pointer;
            border-radius: 4px;
        }

        label {
            font-size: 12px;
            font-weight: 400;
            color: #303030;
            cursor: pointer;
        }
    }

    .book-book {
        width: 326px;
        margin-top: 24px;
        margin-bottom: 16px;
    }

}


.safety {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;

    .cards {
        display: flex;
        width: 100%;
        gap: 24px;
        justify-content: space-evenly;
        align-items: center;

        @media (max-width: 1000px) {
            flex-shrink: 0;
            overflow-x: auto;
            overflow-y: visible;
            gap: 16px;
        }

        .card {
            position: relative;
            width: 100%;
            height: 345px;
            border-radius: 10px 10px 10px 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            max-width: 413px;
            flex-shrink: 0;

            @media (max-width: 1000px) {
                max-width: 300px;
                height: 380px;
                border-radius: 10px 10px 0px 0px;

            }

            .overlay-box {
                position: absolute;
                top: 120px;
                left: 32px;
                width: 80%;
                height: auto;
                background-color: #112230;
                padding: 20px;
                border-radius: 20px;


                @media (max-width: 1000px) {
                    top: 200px;
                    width: 100%;
                    left: 0;
                    height: auto;
                    border-radius: 0px 0px 10px 10px;
                    padding: 16px;
                }

                .overlay-content {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    width: 100%;

                    .heading {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        h2 {
                            font-size: 20px;
                            font-weight: 700;
                            color: white;
                            margin-bottom: 8px;

                            @media (max-width: 1000px) {
                                font-size: 16px;
                            }
                        }

                        .special {
                            font-size: 20px;
                            font-weight: 700;
                            color: white;
                            margin-bottom: 8px;
                            width: 100%;
                            display: flex;
                            align-items: baseline;
                            gap: 8px;

                            @media (max-width: 1000px) {
                                font-size: 16px;
                            }

                            .aips-large {
                                font-size: 28px;
                                font-weight: 800;

                                @media (max-width: 1000px) {
                                    font-size: 22px;
                                }
                            }
                        }


                        hr {
                            width: 100%;
                            height: 10px;
                            background-color: #F58420;
                            border: none;
                            border-radius: 10px;
                            margin-left: 23px;
                        }
                    }

                    .para {
                        font-weight: 300;
                        font-size: 16px;
                        color: white;
                        margin-bottom: 20px;

                        @media (max-width: 1000px) {
                            font-size: 14px;
                        }
                    }

                    .learn-more {
                        display: flex;
                        align-items: center;
                        justify-content: start;
                        gap: 16px;
                        width: 100%;
                        font-size: 16px;
                        font-weight: 600;
                        color: #F58420;

                        @media (max-width: 1000px) {
                            font-size: 14px;
                        }
                    }
                }


            }

            .third {
                background-color: #462512;
            }

            img {
                width: 100%;
                height: 345px;
                border-radius: 10px 10px 10px 10px;
                object-fit: fill;
                /* Use cover instead of fill */
                object-position: center;

                .scale-up {
                    transform: scale(1.4);
                }

                @media (max-width: 1000px) {
                    height: 200px;
                    border-radius: 10px 10px 0px 0px;
                }

            }




        }
    }
}

.google-reviews {
    margin-top: 60px;
    width: 100vw;
    height: 338px;
    background-color: #FFF9F5;
    padding-left: 137.62px;
    padding-right: 137.62px;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 20px;



    @media (max-width: 1000px) {
        padding-left: 20px;
        padding-right: 0px;
    }

    h2 {
        color: #303030;
        font-weight: 700;
        font-size: 24px;
        text-align: center;

        @media (max-width: 1000px) {
            display: none;
        }
    }

    .review-table {
        width: 100%;
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 69px;

        hr {
            border: 1px solid #FFDDC1;
            height: 143px;
            background-color: #FFDDC1;
        }

        .side-info {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 174px;
            height: auto;

            .avg {
                margin-top: 12px;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 7.5px;

                hr {
                    border: 1px solid #FFDDC1;
                    height: 27px;
                    background-color: #FFDDC1;
                }
            }
        }
    }
}