@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Figtree", sans-serif;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.foot-nav {
  position: absolute;
  position: fixed;
  z-index: 50;
  background-color: #FFF1E6;
  border: #FFE0C4 1px solid;
  border-radius: 20px 20px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  bottom: 0px;
  width: 100%;
  height: 72px;
}
@media (min-width: 768px) {
  .foot-nav {
    display: none;
  }
}
.foot-nav hr {
  border: 1px solid #FFE0C4;
  width: 1px;
  height: 40px;
}
.foot-nav .toggle {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;
}
.foot-nav .toggle p {
  color: #4D2C19;
  font-size: 12px;
  font-weight: 600;
}

.nav {
  background-color: #FFFAF5;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 800px) {
  .nav {
    height: 80px;
  }
}
.nav .logo {
  margin-left: 43px;
}
@media (max-width: 800px) {
  .nav .logo {
    margin-left: 16px;
  }
}

.sidebuttons {
  margin-right: 60px;
  display: flex;
  gap: 12px;
  flex-direction: row-reverse;
}
@media (max-width: 800px) {
  .sidebuttons {
    margin-right: 16px;
  }
}
.sidebuttons .btn {
  border-radius: 70px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 12px 12px;
  border: 1px solid;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  color: white;
  transition: all 0.2s ease;
}
.sidebuttons .btn-primary {
  width: 154px;
  background-color: white;
  border-color: #462512;
  color: #1A1A1A;
}
.sidebuttons .btn-primary:hover {
  background-color: black;
  color: white;
}
.sidebuttons .btn-secondary {
  width: 200px;
  background-color: #F8943F;
  border-color: #DE6F0D;
  color: white;
}
@media (max-width: 800px) {
  .sidebuttons .btn-secondary {
    display: none;
  }
}
.sidebuttons .btn-secondary:hover {
  background-color: #DE6F0D;
}

@media (max-width: 800px) {
  .secbtn {
    margin-right: 16px;
  }
}
.secbtn .btn {
  border-radius: 70px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 12px 12px;
  border: 1px solid;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  color: white;
  transition: all 0.2s ease;
}
.secbtn .btn-secondary {
  width: 200px;
  background-color: #F8943F;
  border-color: #DE6F0D;
  color: white;
}
@media (max-width: 800px) {
  .secbtn .btn-secondary {
    width: 225px;
  }
}
.secbtn .btn-secondary:hover {
  background-color: #DE6F0D;
}

.span-ul {
  text-decoration: underline;
  cursor: pointer;
}
.span-ul:hover {
  color: #DE6F0D;
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 450px;
  background-color: #FFFAF5;
  position: relative;
}
@media (max-width: 1000px) {
  .hero {
    flex-direction: column;
    align-items: center;
    height: auto;
    gap: 0px;
    background-color: white;
  }
}
.hero .ticker-tape-container {
  position: absolute;
  top: 450px;
  left: 0;
  z-index: 999;
  height: 60px;
  width: 100%;
  background-color: #FFF9F4;
  overflow-x: hidden;
  display: flex;
}
@media (max-width: 1000px) {
  .hero .ticker-tape-container {
    top: 394px;
  }
}
.hero .ticker-tape-container .ticker-tape {
  --direction: normal;
  --duration: 60s;
  --delay: 0s;
  --iteration-count: infinite;
  display: flex;
  gap: 40px;
  flex: 0 0 auto;
  margin-right: 1rem;
  min-width: 100%;
  align-items: center;
  animation: marquee var(--duration) linear var(--delay) var(--iteration-count);
  animation-direction: var(--direction);
}
.hero .ticker-tape-container .ticker-tape .ticker-item {
  display: flex;
  align-items: center;
  gap: 0px;
}
.hero .ticker-tape-container .ticker-tape .ticker-item p {
  font-size: 14px;
  font-weight: 700;
  margin-left: 2px;
}
.hero .ticker-tape-container .ticker-tape .ticker-item .colored {
  margin-left: 12px;
  color: #F58420;
}
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.hero .hero-pic {
  position: relative;
  width: 67%;
  height: 100%;
  background-color: #FFF9F4;
  overflow: hidden;
  display: flex;
}
@media (max-width: 1000px) {
  .hero .hero-pic {
    width: 100%;
    justify-content: center;
    flex-direction: column;
  }
}
.hero .hero-pic .partners {
  position: absolute;
  z-index: 5;
  right: 0px;
  top: 0px;
  width: 210px;
  height: 45.98px;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(2.49px);
  -webkit-backdrop-filter: blur(2.49px);
  border-radius: 0px 0px 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .hero-pic .partners .image-container {
  width: 65px;
  height: 26px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero .hero-pic .partners .image-container img {
  transform: scale(0.08);
  transform-origin: center;
}
.hero .hero-pic .partners .image-container .sm {
  transform: scale(0.04);
  transform-origin: center;
}
@media (min-width: 1000px) {
  .hero .hero-pic .partners {
    display: none;
  }
}
.hero .hero-pic .hero-pic-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/d9e2eb1945ffd93ea40450c1db6dd1c7d2b70f19.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 50%;
  background-size: 150%;
  filter: blur(3px);
  -webkit-filter: blur(3px);
  z-index: 1;
}
.hero .hero-pic .hero-pic-banner {
  position: relative;
  z-index: 2;
  background-color: white;
  opacity: 1;
  margin-top: 149px;
  width: 644px;
  height: 153px;
  padding-top: 24px;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
}
.hero .hero-pic .hero-pic-banner .internal-text {
  margin-left: 60px;
  margin-bottom: 20px;
  z-index: 3;
}
@media (max-width: 1000px) {
  .hero .hero-pic .hero-pic-banner .internal-text {
    margin-left: 16px;
  }
}
.hero .hero-pic .hero-pic-banner .internal-text h2 {
  font-size: 16px;
  font-weight: 800;
  color: #303030;
}
.hero .hero-pic .hero-pic-banner .internal-text h3 {
  font-size: 16px;
  font-weight: 600;
  color: #4E4E4E;
  margin-top: 8px;
  margin-bottom: 20px;
}
@media (max-width: 1000px) {
  .hero .hero-pic .hero-pic-banner {
    margin-top: 66px;
    width: 100%;
    height: 205px;
    margin-bottom: 123px;
  }
}
.hero .hero-pic .man-pic {
  position: absolute;
  left: 368px;
  bottom: 43px;
  z-index: 2;
  transform: scaleX(-1);
  scale: 1.15;
}
@media (max-width: 1120px) {
  .hero .hero-pic .man-pic {
    left: 340px;
    bottom: -5px;
    scale: 1;
  }
}
@media (max-width: 642px) {
  .hero .hero-pic .man-pic {
    left: 300px;
    bottom: -70px;
    scale: 0.8;
  }
}
@media (max-width: 530px) {
  .hero .hero-pic .man-pic {
    left: 100px;
    bottom: -100px;
    scale: 0.7;
  }
}

.hero-form-container {
  background-color: #FFF9F4;
  border: #FFE0C4 1px solid;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: 33%;
  height: 100%;
  padding-top: 49px;
  padding-left: 40px;
  padding-right: 40px;
}
@media (max-width: 1000px) {
  .hero-form-container {
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 80px;
    border-radius: 20px;
    width: auto;
    padding-bottom: 16px;
  }
}
.hero-form-container p,
.hero-form-container h2 {
  text-align: left;
  width: 100%;
}
@media (max-width: 1000px) {
  .hero-form-container p,
  .hero-form-container h2 {
    text-align: center;
  }
}
.hero-form-container h2 {
  font-weight: 700;
  font-size: 20px;
  color: #303030;
  margin-bottom: 8px;
}
.hero-form-container p {
  font-weight: 400;
  font-size: 16px;
  color: #474747;
}
.hero-form-container .consult-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
}
.hero-form-container .consult-form input {
  position: relative;
  width: 100%;
  height: 40px;
  border-radius: 24px;
  border: 1px solid #FFE0C4;
  padding-left: 16px;
  font-size: 16px;
  color: #303030;
}
.hero-form-container .consult-form input:focus {
  outline: none;
  border-color: #F8943F;
}
.hero-form-container .consult-form .captcha-wrapper {
  position: relative;
  width: 100%;
}
.hero-form-container .consult-form .captcha-wrapper input {
  width: 100%;
  height: 40px;
  border-radius: 24px;
  border: 1px solid #FFE0C4;
  padding-left: 16px;
  padding-right: 80px;
  font-size: 16px;
  color: #303030;
}
.hero-form-container .consult-form .captcha-wrapper input:focus {
  outline: none;
  border-color: #F8943F;
}
.hero-form-container .consult-form .captcha-wrapper .captcha-label {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  right: 0px;
  height: 100%;
  width: 110px;
  transform: translateY(-50%);
  background-color: #FFE0C4;
  border-radius: 0px 24px 24px 0px;
  background-color: #462512;
  font-size: 14px;
  color: white;
  pointer-events: none;
}
.hero-form-container .consult-form .checkbox-wrapper {
  display: flex;
  flex-direction: row-reverse;
  align-items: start;
  justify-content: flex-end;
  gap: 8px;
  margin-top: 8px;
}
.hero-form-container .consult-form .checkbox-wrapper input[type=checkbox] {
  width: 19px;
  height: 19px;
  border: 1px solid #FFE0C4;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  background-color: white;
  cursor: pointer;
  border-radius: 4px;
}
.hero-form-container .consult-form .checkbox-wrapper label {
  font-size: 12px;
  font-weight: 400;
  color: #303030;
  cursor: pointer;
}

.book-btn {
  width: 100%;
  height: 38px;
  border-radius: 24px;
  background-color: #F58420;
  color: white;
  font-size: 14px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
}
.book-btn:hover {
  background-color: #DE6F0D;
  color: white;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 60px;
  padding-right: 60px;
  margin-top: 120px;
  background-color: white;
}
@media (max-width: 1000px) {
  .main-container {
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 60px;
  }
}

.root-canal-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.root-canal-section h2 {
  font-size: 24px;
  font-weight: 700;
  color: #303030;
  margin-bottom: 8px;
  text-align: center;
  max-width: 100%;
}
.root-canal-section p {
  font-size: 20px;
  font-weight: 400;
  color: #474747;
  text-align: center;
  max-width: 100%;
  text-align: center;
}

.root-canal-cards-section {
  display: flex;
  margin-top: 20px;
  gap: 40px;
  overflow-x: auto;
  width: 100%;
}
@media (max-width: 720px) {
  .root-canal-cards-section {
    gap: auto;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .root-canal-cards-section::-webkit-scrollbar {
    display: none;
  }
}
.root-canal-cards-section .card {
  border: #FFE0C4 1px solid;
  border-radius: 20px;
  width: 640px;
  height: auto;
  display: flex;
  gap: 0px;
  flex-shrink: 0;
}
@media (max-width: 720px) {
  .root-canal-cards-section .card {
    width: 285px;
    flex-direction: column;
  }
}
.root-canal-cards-section .card .bg {
  background-color: #E0D5CB;
  border-radius: 20px 0px 0px 20px;
}
@media (max-width: 720px) {
  .root-canal-cards-section .card .bg {
    width: 285px;
    height: 285px;
    border-radius: 20px 20px 0px 0px;
  }
}
.root-canal-cards-section .card .image {
  width: 320px;
  height: auto;
  border-radius: 20px 0px 0px 20px;
}
@media (max-width: 720px) {
  .root-canal-cards-section .card .image {
    width: 285px;
    height: 285px;
    border-radius: 20px 20px 0px 0px;
  }
}
.root-canal-cards-section .card .text {
  display: flex;
  gap: 16px;
  flex-direction: column;
  padding: 16px 20px 20px 16px;
}
.root-canal-cards-section .card .text h2 {
  font-weight: 700px;
  font-size: 20px;
  text-align: left;
  margin: 0px;
}
.root-canal-cards-section .card .text p {
  font-weight: 400;
  font-size: 16px;
  color: #474747;
  text-align: left;
  margin-top: 8px;
}
.root-canal-cards-section .card .text h3 {
  font-weight: 700;
  font-size: 16px;
}
.root-canal-cards-section .card .text ul {
  padding-left: 16px;
  margin-top: 8px;
}
.root-canal-cards-section .card .text ul li {
  font-weight: 400;
  font-size: 16px;
  color: #474747;
}
.root-canal-cards-section .card .text h4 {
  font-weight: 600;
  font-size: 14px;
  color: #F58420;
  margin-bottom: 4px;
}
.root-canal-cards-section .card .text .price {
  margin: 0px;
  font-weight: 600;
  font-size: 20px;
}

.real-smile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.real-smile .img-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 40px;
  margin-top: 20px;
  width: 100%;
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.real-smile .img-container::-webkit-scrollbar {
  display: none;
}
.real-smile .img-container .img-box {
  display: flex;
  gap: 8px;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 295px;
  height: auto;
  border-radius: 20px;
  flex-shrink: 0;
}
.real-smile .img-container .img-box .text {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}
.real-smile .img-container .img-box .text .name {
  font-weight: 600;
  font-size: 16px;
  color: #1A1A1A;
}
.real-smile .img-container .img-box .text .city {
  font-weight: 600;
  font-size: 14px;
  color: #F58420;
}
.real-smile .img-container .img-box img {
  width: 295px;
  height: auto;
  border-radius: 20px;
}

.top-text {
  margin-top: 60px;
}
.top-text h2 {
  font-size: 24px;
  font-weight: 700;
  color: #303030;
  margin-bottom: 8px;
  text-align: center;
  max-width: 100%;
}
.top-text p {
  font-size: 20px;
  font-weight: 400;
  color: #474747;
  text-align: center;
  max-width: 100%;
}

.why-section {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
}
.why-section .why-section-data {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 96px;
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
}
@media (max-width: 1000px) {
  .why-section .why-section-data {
    padding-left: 12px;
    padding-right: 12px;
    align-items: center;
    flex-direction: column-reverse;
    gap: 20px;
  }
}
.why-section .why-section-data .image {
  width: 461px;
  height: auto;
  border-radius: 20px;
}
@media (max-width: 1000px) {
  .why-section .why-section-data .image {
    width: 100%;
  }
}
.why-section .why-section-data .accordion {
  width: 100%;
}
.why-section .why-section-data .accordion .accordion-item {
  margin-bottom: 40px;
}
.why-section .why-section-data .accordion .accordion-item .accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.why-section .why-section-data .accordion .accordion-item .accordion-header p {
  font-size: 16px;
  font-weight: 600;
  color: #1A1A1A;
  margin: 0;
}
.why-section .why-section-data .accordion .accordion-item .accordion-header .accordion-icon {
  font-size: 20px;
  font-weight: bold;
  color: #EA7D28;
  display: inline-block;
  transition: transform 0.3s ease;
}
.why-section .why-section-data .accordion .accordion-item .accordion-header .accordion-content.active ~ .accordion-header .accordion-icon {
  transform: rotate(45deg);
}
.why-section .why-section-data .accordion .accordion-item .accordion-content {
  margin-left: 8px;
  font-weight: 400;
  color: gray;
  max-height: 0;
  transition: max-height 0.5s ease, padding 0.3s ease;
  overflow: hidden;
  padding-top: 0;
}
.why-section .why-section-data .accordion .accordion-item .accordion-content ul {
  list-style-type: disc;
  padding-left: 1.5rem;
}
.why-section .why-section-data .accordion .accordion-item .accordion-content.active {
  padding-top: 10px;
}

.review {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
.review .review-cards {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 24px;
  width: 100%;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.review .review-cards::-webkit-scrollbar {
  display: none;
}
@media (max-width: 1000px) {
  .review .review-cards {
    gap: 20px;
  }
}
.review .review-cards .card {
  height: auto;
  border-radius: 10px;
  width: 224px;
}
@media (max-width: 1000px) {
  .review .review-cards .card {
    width: 200px;
  }
}
.review .review-cards .card img {
  width: 224px;
  height: 350px;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1000px) {
  .review .review-cards .card img {
    width: 200px;
    height: 360px;
  }
}
.review .review-cards .card .card-text {
  display: flex;
  align-items: start;
  justify-content: space-between;
  width: 100%;
}
.review .review-cards .card .card-text .name-and-city {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.review .review-cards .card .card-text .name-and-city .name {
  font-size: 16px;
  color: #1A1A1A;
  font-weight: 600;
}
.review .review-cards .card .card-text .name-and-city .city {
  font-size: 14px;
  color: #777777;
  font-weight: 600;
}
.review .review-cards .card .card-text .type {
  font-size: 16px;
  color: #F58420;
  font-weight: 600;
}

.booking-box {
  margin-top: 60px;
  width: 100%;
  height: auto;
  background-color: #FFF9F4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0px;
  border-radius: 10px;
}
@media (max-width: 1000px) {
  .booking-box {
    border-radius: 20px;
  }
}
.booking-box h2 {
  font-weight: 700;
  font-size: 24px;
  color: #303030;
  margin-bottom: 20px;
  margin-top: 16px;
  text-align: center;
}
@media (max-width: 1000px) {
  .booking-box h2 {
    font-size: 20px;
    margin-bottom: 24px;
  }
}
.booking-box .form {
  display: flex;
  width: 100%;
  gap: 24px;
  align-items: center;
  justify-self: center;
  padding-left: 12px;
  padding-right: 12px;
}
@media (max-width: 1000px) {
  .booking-box .form {
    flex-direction: column;
    gap: 16px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
.booking-box .form input {
  height: 38px;
  width: 100%;
  border-radius: 24px;
  border: 1px solid #FFE0C4;
  padding-left: 16px;
  padding-right: 80px;
  font-size: 16px;
  color: #303030;
}
.booking-box .form .captcha-wrapper {
  position: relative;
  width: 100%;
}
.booking-box .form .captcha-wrapper input {
  width: 100%;
  height: 40px;
  border-radius: 24px;
  border: 1px solid #FFE0C4;
  padding-left: 16px;
  padding-right: 80px;
  font-size: 16px;
  color: #303030;
}
.booking-box .form .captcha-wrapper input:focus {
  outline: none;
  border-color: #F8943F;
}
.booking-box .form .captcha-wrapper .captcha-label {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  right: 0px;
  height: 100%;
  width: 110px;
  transform: translateY(-50%);
  background-color: #FFE0C4;
  border-radius: 0px 24px 24px 0px;
  background-color: #462512;
  font-size: 14px;
  color: white;
  pointer-events: none;
}
.booking-box .checkbox-wrapper {
  display: flex;
  flex-direction: row-reverse;
  align-items: start;
  justify-content: flex-end;
  gap: 8px;
  margin-top: 24px;
}
.booking-box .checkbox-wrapper input[type=checkbox] {
  width: 19px;
  height: 19px;
  border: 1px solid #FFE0C4;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  background-color: white;
  cursor: pointer;
  border-radius: 4px;
}
.booking-box .checkbox-wrapper label {
  font-size: 12px;
  font-weight: 400;
  color: #303030;
  cursor: pointer;
}
.booking-box .book-book {
  width: 326px;
  margin-top: 24px;
  margin-bottom: 16px;
}

.safety {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
.safety .cards {
  display: flex;
  width: 100%;
  gap: 24px;
  justify-content: space-evenly;
  align-items: center;
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.safety .cards::-webkit-scrollbar {
  display: none;
}
@media (max-width: 1000px) {
  .safety .cards {
    flex-shrink: 0;
    overflow-x: auto;
    overflow-y: visible;
    gap: 16px;
  }
}
.safety .cards .card {
  position: relative;
  width: 100%;
  height: 345px;
  border-radius: 10px 10px 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 413px;
  flex-shrink: 0;
}
@media (max-width: 1000px) {
  .safety .cards .card {
    max-width: 300px;
    height: 380px;
    border-radius: 10px 10px 0px 0px;
  }
}
.safety .cards .card .overlay-box {
  position: absolute;
  top: 120px;
  left: 32px;
  width: 80%;
  height: auto;
  background-color: #112230;
  padding: 20px;
  border-radius: 20px;
}
@media (max-width: 1000px) {
  .safety .cards .card .overlay-box {
    top: 200px;
    width: 100%;
    left: 0;
    height: auto;
    border-radius: 0px 0px 10px 10px;
    padding: 16px;
  }
}
.safety .cards .card .overlay-box .overlay-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}
.safety .cards .card .overlay-box .overlay-content .heading {
  display: flex;
  align-items: center;
  justify-content: center;
}
.safety .cards .card .overlay-box .overlay-content .heading h2 {
  font-size: 20px;
  font-weight: 700;
  color: white;
  margin-bottom: 8px;
}
@media (max-width: 1000px) {
  .safety .cards .card .overlay-box .overlay-content .heading h2 {
    font-size: 16px;
  }
}
.safety .cards .card .overlay-box .overlay-content .heading .special {
  font-size: 20px;
  font-weight: 700;
  color: white;
  margin-bottom: 8px;
  width: 100%;
  display: flex;
  align-items: baseline;
  gap: 8px;
}
@media (max-width: 1000px) {
  .safety .cards .card .overlay-box .overlay-content .heading .special {
    font-size: 16px;
  }
}
.safety .cards .card .overlay-box .overlay-content .heading .special .aips-large {
  font-size: 28px;
  font-weight: 800;
}
@media (max-width: 1000px) {
  .safety .cards .card .overlay-box .overlay-content .heading .special .aips-large {
    font-size: 22px;
  }
}
.safety .cards .card .overlay-box .overlay-content .heading hr {
  width: 100%;
  height: 10px;
  background-color: #F58420;
  border: none;
  border-radius: 10px;
  margin-left: 23px;
}
.safety .cards .card .overlay-box .overlay-content .para {
  font-weight: 300;
  font-size: 16px;
  color: white;
  margin-bottom: 20px;
}
@media (max-width: 1000px) {
  .safety .cards .card .overlay-box .overlay-content .para {
    font-size: 14px;
  }
}
.safety .cards .card .overlay-box .overlay-content .learn-more {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 16px;
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  color: #F58420;
}
@media (max-width: 1000px) {
  .safety .cards .card .overlay-box .overlay-content .learn-more {
    font-size: 14px;
  }
}
.safety .cards .card .third {
  background-color: #462512;
}
.safety .cards .card img {
  width: 100%;
  height: 345px;
  border-radius: 10px 10px 10px 10px;
  -o-object-fit: fill;
     object-fit: fill;
  -o-object-position: center;
     object-position: center;
}
.safety .cards .card img .scale-up {
  transform: scale(1.4);
}
@media (max-width: 1000px) {
  .safety .cards .card img {
    height: 200px;
    border-radius: 10px 10px 0px 0px;
  }
}

.google-reviews {
  margin-top: 60px;
  width: 100vw;
  height: 338px;
  background-color: #FFF9F5;
  padding-left: 137.62px;
  padding-right: 137.62px;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 20px;
}
@media (max-width: 1000px) {
  .google-reviews {
    padding-left: 20px;
    padding-right: 0px;
    height: 560px;
  }
}
.google-reviews h2 {
  color: #303030;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
}
@media (max-width: 1000px) {
  .google-reviews h2 {
    display: none;
  }
}
.google-reviews .review-table {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 69px;
}
@media (max-width: 1000px) {
  .google-reviews .review-table {
    flex-direction: column;
  }
}
.google-reviews .review-table hr {
  border: 1px solid #FFDDC1;
  height: 143px;
  background-color: #FFDDC1;
}
@media (max-width: 1000px) {
  .google-reviews .review-table hr {
    display: none;
  }
}
.google-reviews .review-table .side-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
}
@media (max-width: 1000px) {
  .google-reviews .review-table .side-info {
    flex-direction: row;
    gap: 12px;
  }
}
.google-reviews .review-table .side-info .avg {
  margin-top: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7.5px;
}
.google-reviews .review-table .side-info .avg p {
  font-weight: 700;
  color: #303030;
  font-size: 24px;
}
.google-reviews .review-table .side-info .avg hr {
  width: 1px;
  height: 27px;
  background-color: #FFDDC1;
  border: none;
  display: inline;
}
.google-reviews .review-table .side-info .text {
  margin-top: 9px;
  text-align: center;
}
.google-reviews .review-table .side-info .text h2 {
  font-weight: 700;
  font-size: 24px;
  color: #EA7D28;
}
.google-reviews .review-table .side-info .text p {
  color: #474747;
  margin-top: 12px;
  font-size: 16px;
  font-weight: 600;
  white-space: nowrap;
}
.google-reviews .review-table .review-card-container {
  display: flex;
  padding-top: 9.5px;
  padding-bottom: 9.5px;
  gap: 24px;
  width: 100%;
  height: auto;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
@media (max-width: 1000px) {
  .google-reviews .review-table .review-card-container {
    width: 100%;
  }
}
.google-reviews .review-table .review-card-container::-webkit-scrollbar {
  display: none;
}
.google-reviews .review-table .review-card-container .review-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 15px;
  height: auto;
  width: 302.25px;
  min-width: 302.25px;
  background-color: white;
  gap: 18px;
  border-radius: 15px;
}
@media (max-width: 1000px) {
  .google-reviews .review-table .review-card-container .review-card {
    padding: 20px;
    width: 252px;
    min-width: 252px;
    gap: 24px;
    border-radius: 20px;
  }
}
.google-reviews .review-table .review-card-container .review-card .side-logo {
  position: absolute;
  height: 60px;
  width: 60px;
  top: 0px;
  right: 0px;
  border-bottom-left-radius: 100%;
  background-color: #FFEBC4;
}
@media (max-width: 1000px) {
  .google-reviews .review-table .review-card-container .review-card .side-logo {
    height: 65px;
    width: 65px;
  }
}
.google-reviews .review-table .review-card-container .review-card .side-logo .logo-container {
  position: relative;
  left: 21.75px;
  top: 11.25px;
}
.google-reviews .review-table .review-card-container .review-card img {
  border-radius: 100%;
  width: 51px;
  height: 51px;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  display: block;
  flex-shrink: 0;
}
@media (max-width: 1000px) {
  .google-reviews .review-table .review-card-container .review-card img {
    width: 68px;
    height: 68px;
  }
}
.google-reviews .review-table .review-card-container .review-card .name-and-rating {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.google-reviews .review-table .review-card-container .review-card .name-and-rating .stars {
  display: flex;
  gap: 10.86px;
}
@media (max-width: 1000px) {
  .google-reviews .review-table .review-card-container .review-card .name-and-rating .stars {
    gap: 12px;
  }
}
.google-reviews .review-table .review-card-container .review-card .name-and-rating h2 {
  font-weight: 700;
  font-size: 16px;
  color: #303030;
}
@media (max-width: 1000px) {
  .google-reviews .review-table .review-card-container .review-card .name-and-rating h2 {
    font-size: 18px;
  }
}
@media (max-width: 1000px) {
  .google-reviews .review-table .review-card-container .review-card .name-and-rating {
    gap: 9px;
  }
}
.google-reviews .review-table .review-card-container .review-card .writeup p {
  color: #464646;
  font-weight: 400;
  font-size: 12px;
}
@media (max-width: 1000px) {
  .google-reviews .review-table .review-card-container .review-card .writeup p {
    font-size: 16px;
  }
}
.google-reviews .review-table .review-card-container .review-card .details {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 8px;
}
@media (min-width: 1000px) {
  .google-reviews .review-table .review-card-container .review-card .details {
    display: none;
  }
}
.google-reviews .review-table .review-card-container .review-card .details p {
  color: #E9811F;
  font-size: 16px;
  font-weight: 600;
}

.locations {
  width: 100%;
  margin-top: 60px;
}
.locations .heading {
  margin-bottom: 40px;
}
.locations .heading h2 {
  font-weight: 700;
  font-size: 24px;
  color: #303030;
  margin-bottom: 8px;
}
@media (max-width: 1130px) {
  .locations .heading h2 {
    font-size: 20px;
    text-align: center;
  }
}
.locations .heading p {
  font-weight: 400;
  font-size: 20px;
  color: #474747;
}
@media (max-width: 1130px) {
  .locations .heading p {
    font-size: 16px;
    text-align: center;
  }
}
.locations .big-container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  gap: 80px;
}
@media (max-width: 1130px) {
  .locations .big-container {
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 40px;
  }
}
.locations .big-container .city-container {
  width: 402px;
  min-width: 350px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  -moz-column-gap: 10px;
       column-gap: 10px;
  row-gap: 30px;
  align-content: start;
}
@media (max-width: 1130px) {
  .locations .big-container .city-container {
    gap: 10px;
    width: 350px;
  }
}
.locations .big-container .city-container .city-box {
  border: #D0D0D0 1px solid;
  border-radius: 8px;
  width: 196px;
  min-width: 170px;
  height: 86px;
  flex: 1 1 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
@media (max-width(1130px)) {
  .locations .big-container .city-container .city-box {
    gap: 12px;
    width: 170px;
    max-width: 170px;
  }
}
.locations .big-container .city-container .city-box .text h2 {
  font-weight: 700;
  color: #303030;
  font-size: 16px;
}
.locations .big-container .city-container .city-box .text p {
  font-weight: 600;
  color: #303030;
  font-size: 16px;
}
.locations .big-container .clinic-container {
  width: 100%;
  max-width: 838px;
  min-width: 269px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  -moz-column-gap: 20px;
       column-gap: 20px;
  overflow-x: auto;
  overflow-y: visible;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.locations .big-container .clinic-container::-webkit-scrollbar {
  display: none;
}
@media (max-width: 1130px) {
  .locations .big-container .clinic-container {
    justify-content: start;
    align-items: center;
    flex-wrap: nowrap;
  }
}
.locations .big-container .clinic-container .clinic-box {
  min-width: 269px;
  height: 207px;
  flex: 1 1 269px;
  border: #D0D0D0 1px solid;
  border-radius: 8px;
}
.locations .big-container .clinic-container .clinic-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  display: block;
  border-radius: 8px;
}

.buying-section {
  margin-top: 60px;
  display: flex;
  width: 100%;
  gap: 60px;
  justify-content: space-evenly;
  align-items: center;
  flex-shrink: 0;
  overflow-x: auto;
  overflow-y: visible;
}
@media (max-width: 1215px) {
  .buying-section {
    flex-direction: column;
    gap: 76px;
  }
}
.buying-section .book-now-box {
  width: 500px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 250px;
  background-color: #FFF9F4;
  border: #FFE0C4 solid 1px;
  padding: 16px 42px 16px 42px;
  flex-direction: column;
  gap: 20px;
  border-radius: 20px;
}
@media (max-width: 1215px) {
  .buying-section .book-now-box {
    width: 358px;
    gap: 24px;
  }
}
.buying-section .book-now-box .text h2 {
  font-weight: 700;
  font-size: 24px;
  color: #303030;
}
@media (max-width: 1215px) {
  .buying-section .book-now-box .text h2 {
    font-size: 20px;
  }
}
.buying-section .book-now-box .text p {
  font-weight: 400;
  font-size: 14px;
  color: #474747;
}
@media (max-width: 1000px) {
  .buying-section .book-now-box .text p {
    font-size: 16px;
  }
}
.buying-section .book-now-box form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
}
.buying-section .book-now-box form input {
  position: relative;
  width: 100%;
  height: 40px;
  border-radius: 24px;
  border: 1px solid #FFE0C4;
  padding-left: 16px;
  font-size: 16px;
  color: #303030;
}
.buying-section .book-now-box form input:focus {
  outline: none;
  border-color: #F8943F;
}
.buying-section .book-now-box form .captcha-wrapper {
  position: relative;
  width: 100%;
}
.buying-section .book-now-box form .captcha-wrapper input {
  width: 100%;
  height: 40px;
  border-radius: 24px;
  border: 1px solid #FFE0C4;
  padding-left: 16px;
  padding-right: 80px;
  font-size: 16px;
  color: #303030;
}
.buying-section .book-now-box form .captcha-wrapper input:focus {
  outline: none;
  border-color: #F8943F;
}
.buying-section .book-now-box form .captcha-wrapper .captcha-label {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  right: 0px;
  height: 100%;
  width: 110px;
  transform: translateY(-50%);
  background-color: #FFE0C4;
  border-radius: 0px 24px 24px 0px;
  background-color: #462512;
  font-size: 14px;
  color: white;
  pointer-events: none;
}
.buying-section .book-now-box form .checkbox-wrapper {
  display: flex;
  flex-direction: row-reverse;
  align-items: start;
  justify-content: flex-end;
  gap: 8px;
  margin-top: 8px;
}
.buying-section .book-now-box form .checkbox-wrapper input[type=checkbox] {
  width: 19px;
  height: 19px;
  border: 1px solid #FFE0C4;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  background-color: white;
  cursor: pointer;
  border-radius: 4px;
}
.buying-section .book-now-box form .checkbox-wrapper label {
  font-size: 12px;
  font-weight: 400;
  color: #303030;
  cursor: pointer;
}
.buying-section .buy-now-box {
  width: 760px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: start;
  min-width: 326px;
  border: #FFE0C4 1px solid;
  border-radius: 20px;
  flex-shrink: 0;
}
@media (max-width: 1215px) {
  .buying-section .buy-now-box {
    flex-direction: column;
    width: 358px;
  }
}
.buying-section .buy-now-box .image-container {
  width: 399px;
}
@media (max-width: 1215px) {
  .buying-section .buy-now-box .image-container {
    width: 358px;
  }
}
.buying-section .buy-now-box .image-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  display: block;
  border-radius: 20px 0px 0px 20px;
}
@media (max-width: 1215px) {
  .buying-section .buy-now-box .image-container img {
    border-radius: 20px 20px 0px 0px;
  }
}
.buying-section .buy-now-box .offer {
  padding: 16px 20px 16px 20px;
  width: 361px;
}
.buying-section .buy-now-box .offer h2 {
  font-weight: 700px;
  font-size: 20px;
  color: #303030;
}
@media (max-width: 1215px) {
  .buying-section .buy-now-box .offer h2 {
    font-size: 20px;
  }
}
.buying-section .buy-now-box .offer ul {
  margin-top: 12px;
}
@media (max-width: 1215px) {
  .buying-section .buy-now-box .offer ul {
    margin-top: 4.83px;
  }
}
.buying-section .buy-now-box .offer li {
  font-weight: 700px;
  margin-left: 20px;
  margin-bottom: 15px;
  font-size: 16px;
  color: #303030;
}
@media (max-width: 1215px) {
  .buying-section .buy-now-box .offer li {
    font-size: 20px;
  }
}
.buying-section .buy-now-box .buy-part {
  margin-top: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1215px) {
  .buying-section .buy-now-box .buy-part {
    flex-direction: column;
    gap: 8px;
    justify-content: start;
    align-items: start;
  }
}
.buying-section .buy-now-box .buy-part .discount {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 4px;
}
.buying-section .buy-now-box .buy-part .discount h3 {
  color: #F58420;
  font-weight: 600;
  font-size: 14px;
}
.buying-section .buy-now-box .buy-part .discount .price {
  display: flex;
  gap: 17px;
}
.buying-section .buy-now-box .buy-part .discount .price .current-price {
  color: #1A1A1A;
  font-size: 20px;
  font-weight: 700;
}
.buying-section .buy-now-box .buy-part .discount .price .new-price {
  color: #303030;
  font-weight: 400;
  font-size: 20px;
}
.buying-section .buy-now-box .buy-part .buy-button {
  background-color: #F58420;
  height: 38px;
  width: 138px;
  color: white;
  font-size: 14px;
  font-weight: 600;
  border-radius: 50px;
  border: none;
}
.buying-section .buy-now-box .buy-part .buy-button:hover {
  outline: none;
  background-color: #DE6F0D;
  cursor: pointer;
}
@media (max-width: 1215px) {
  .buying-section .buy-now-box .buy-part .buy-button {
    width: 100%;
  }
}

.faq {
  width: 100%;
  margin-top: 60px;
}
.faq .faq-heading {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 40px;
  text-align: center;
}
@media (max-width: 768px) {
  .faq .faq-heading {
    font-size: 20px;
  }
}
.faq .faq-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 120px;
       column-gap: 120px;
  row-gap: 24px;
  width: 100%;
}
.faq .faq-grid .faq-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #D9D9D9;
  padding-bottom: 12px;
  font-size: 16px;
  font-weight: 500;
}
.faq .faq-grid .faq-item .faq-icon {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .faq .faq-grid {
    grid-template-columns: 1fr;
    width: 358px;
    margin: 0 auto;
  }
}

.footer {
  background-color: #3F1D0D;
  height: 149px;
  color: white;
  padding: 40px 60px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    height: 265px;
    gap: 0px;
  }
}
.footer svg {
  width: 174px;
  height: 69px;
}
@media (max-width: 768px) {
  .footer svg {
    width: 110px;
    height: 44px;
    position: absolute;
  }
}
.footer .footer-text {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
  gap: 24px;
}
.footer .footer-text .upper-text {
  display: flex;
  gap: 27px;
}
@media (max-width: 768px) {
  .footer .footer-text .upper-text {
    flex-direction: column;
    gap: 24px;
  }
}
@media (max-width: 768px) {
  .footer .footer-text .upper-text .hidden-on-mobile {
    display: none;
  }
}
.footer .footer-text .upper-text p {
  font-size: 16px;
  font-weight: 400;
  color: white;
}
.footer .footer-text hr {
  border: 1px solid white;
  width: 100%;
}
.footer .footer-text .lower-text {
  display: flex;
}
.footer .footer-text .lower-text p {
  font-size: 14px;
  font-weight: 400;
  color: white;
}
@media (max-width: 768px) {
  .footer .footer-text .lower-text p {
    font-size: 14px;
  }
}/*# sourceMappingURL=main.css.map */